version: "3.9"

services:
  db:
    image: postgres:14
    container_name: nba_postgres
    env_file:
      - .env.development
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    volumes:
      - ./sql:/docker-entrypoint-initdb.d
      - ./Data:/data
      - ./ops_sql:/ops_sql
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:

